body {
    font-family: メイリオ ,Osaka;
    font-size: 12pt;
    margin: 10px 10px 10px 20px;
    line-height: 2.0em;
    background-image: url("../img/bg01.jpg");
}

.hd1 {
    font-size: 1.2em;			
    text-align: left;			
}
.hd2 {
    font-weight: normal;		
    text-align: center;			
    background-color: #d0d0d0;
}
.row {
    background-color: #dbe9f9;	
}
.c1	{
    width: 500px;				
    padding-left: 10px;	
}
.c2	{
    width: 150px;				
    padding-left: 10px;			
}
.c3	{
    width: 150px;				
    padding-left: 10px;			
}
.c4	{
    width: 150px;				
    padding-left: 10px;			
}
.c5	{
    width: 50px;				
    text-align: center;			
}
.inp {
    font-family: メイリオ ,Osaka;	
    font-size: 1.0em;				
    border: none;					
}

.img_01{
    width: 50px;
    height: 50px;
}

.girly_btn_5 {
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 2ex;
    outline: 0;
    overflow: hidden;
    color: #fff;/* 文字の色 */
    background: #f08080;/* ボタン背景色 */
    width: 200px;/* 円の大きさ */
    height:200px;/* 円の大きさ */
    line-height:200px;/* 円の大きさ */
    border-radius: 50%;/* 角丸サイズ */
    box-shadow: 0 0 0 5px #f08080, 0 2px 3px 5px rgba(0,0,0,0.5);/* 縁取り・影 */
    border: 2px dashed #fff;/* 点線の色・サイズ */
    margin: 0px 20px;
    transition: 1.5s;
    background-image: url("../img/recipelogo.png");
}

.girly_btn_5:hover{
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    transform: rotateY(360deg);
}